{% extends 'base.html.twig' %}

{% block title %}Portfollio Evan Rousseau{% endblock %}

{% block body %}

<div class="container pt-4 mt-4">
    <div class="row">
        <div class="col-6">
            <a href="https://crimsonhydra1.itch.io/goose-dungeon-vr" target="_blank" style="text-decoration: none; color: white;">
                <div class="card col bg-dark border border-light m-3 pt-2">
                    <img src="/img/goose-game.png" class="card-img-start m-1" height="300">
                    <div class="card-body">
                        <h4 class="card-title fw-bold text-center">Goose Dungeon VR</h4>
                        <h5 class="card-title fw-bold text-center">Unity C# (XR Interaction Toolkit)</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6">
            <a href="https://crimsonhydra1.itch.io/projet-unreal-c-defender-trainee" target="_blank" style="text-decoration: none; color: white;">
                <div class="card col bg-dark border border-light m-3 pt-2">
                    <img src="/img/dt.png" class="card-img-start m-1" height="300">
                    <div class="card-body">
                        <h4 class="card-title fw-bold text-center">Defender Trainee</h4>
                        <h5 class="card-title fw-bold text-center">Unreal 5 C++</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="https://crimsonhydra1.itch.io/projet-ia" target="_blank" style="text-decoration: none; color: white;">
                <div class="card col bg-dark border border-light m-3 pt-2">
                    <img src="/img/IAGame2.png" class="card-img-start m-1" height="300">
                    <div class="card-body">
                        <h4 class="card-title fw-bold text-center">Projet IA</h4>
                        <h5 class="card-title fw-bold text-center">Unity C# (Beahaviour Tree + State Machine)</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="https://crimsonhydra1.itch.io/halloween-game" target="_blank" style="text-decoration: none; color: white;">
                <div class="card col bg-dark border border-light m-3 pt-2">
                    <img src="/img/HalloweenGame.png" class="card-img-start m-1" height="300">
                    <div class="card-body">
                        <h4 class="card-title fw-bold text-center">Halloween Game</h4>
                        <h5 class="card-title fw-bold text-center">Unreal 5 Blueprint</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
